*{font-family: 'Open Sans', sans-serif;
  
        margin: 0;
        padding: 0;
        border: 0;
        
    }
  
header img{max-width:350px ;max-height: 90px;margin-left: 30px;}
header{margin: 0px 340px 60px;height: 105px;}
/*-----CENTRALIZAÇÃO E BOX DOS LINKS*/
header .logo a, h4{display: inline; text-decoration: none;}
header .logo div {display: inline;}
header .logo{display:flex; align-items: center;justify-content: space-between;height: 105px;}
header .logo .fone a{  padding:15px 20px;
                background-color:#d47c0b; 
                color:#ffffff;
                border-radius: 20px;
            font-size: 14px;
            }
header .logo .whats a{background-color: #089a5f;color: #ffffff;
                padding: 15px 20px;
                border-radius: 20px;
            font-size: 14px;
            margin-left: 20px;}
 /*LINKS DA LISTA */
 .lista{display: flex; align-items: center; justify-content: space-between;}
header .lista ul{display: flex;align-items: center; justify-content: space-between; list-style: none;} 

header .lista li{margin-right: 40px;}
header .lista a{text-decoration: none; font-size: 14px;color:black;}
header .lista span{font-size: 12px;}
header .lista i{margin-left: 10px;font-size: 1.5em;color: #d47c0b;   }
          





 